mule-remove-variable2/src/main/mule/mule-remove-variable2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4ccb3cd2-4931-461e-8213-d03f1d367c10" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mule-remove-variable2Flow" doc:id="4eca854e-5ab7-4454-a335-cf71a3c0ca7b" >
		<http:listener doc:name="Listener" doc:id="b95ab195-7e22-49ca-9665-e60724a2488b" config-ref="HTTP_Listener_config" path="/remove2"/>
		<set-variable value="Gemechu" doc:name="Set Variable" doc:id="9b574058-9c12-467f-be86-13b094f5f233" variableName="v1"/>
		<set-variable value="kebede" doc:name="Set Variable" doc:id="7fdc14c3-73e8-4dd1-8de5-eca529f69335" variableName="v2"/>
		<set-variable value="abebe" doc:name="Set Variable" doc:id="8b4996ff-7c7b-4dee-9694-d79949e032da" variableName="v3"/>
		<ee:transform doc:name="Transform Message" doc:id="b04007c7-f20a-4067-900d-1cb4b21844a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
import * from dw::core::Objects
---
keySet({
 v1:"v1",
 v2:"v2",
 v3:"v3"
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="86f580cc-e7ba-49a3-be9a-9269d5a12784" >
			<remove-variable doc:name="Remove Variable" doc:id="a5b3f4ff-cb25-4dec-991b-6108d96bc422" variableName="#[payload]"/>
			<logger level="INFO" doc:name="Logger" doc:id="fccc05ed-a02b-470c-9ec3-c2a30e51527c" message="#[vars.v2]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="8793ded4-037c-465e-9fa9-c7b0dc33c58b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 v1:vars.v1,
 v2:vars.v2,
 v3:vars.v3
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
